name: Java CI

on: [push]

jobs:
  build:
    runs-on: bellsoft/liberica-openjdk-alpine-musl@sha256:01c623bf679aef626596e7850104e19adccd7f325fdcec2b0a8a41db261ca26a

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build
